# Ignore bundler config
.bundle
vendor/bundle

# Ignore the default SQLite database.
db/*.sqlite3
config/database.yml
config/adhearsion.rb

# Ignore all logfiles and tempfiles.
log/*.log
tmp

#ignore pickler config
features/tracker.yml

# Some other things to ignore
.*.swp
.*.swo
.DS_STORE
